.follow-button{
    width: 80px;
    height: 35px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color:#15202b ;
    cursor: pointer;
    transition: 0.2s;

}
.follow-button:hover{
    background-color: #d7dbdc;
    transition: 0.2s;

}
.follow-button.llow{
    border: none;
}
.follow-button.unfollow{
    width: 90px;
    height: 30px;
    color: #f4212e;
    background-color: #322631;
    border:solid 1px #67070f;
}
.follow-button.llowing{
    width: 90px;
    height: 30px;
    background-color: #15202b;
    border:solid 1px #536471;
    color: white;
}