.switch-folow-list{
    display: flex;
    border-bottom: solid 1.5px #38444d;
}
.follow{
    width: 50%;
    height: 55px;
    color: #f7f9f9;
    border: none;
    z-index: 1000;
    width: 100%;
    z-index: 1000;
    font-weight: 600;
    background-color: #15202B;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;

}
.follow.followers{
    position: relative;

}
.follow:hover{ 
    background-color: #2d3741;
    transition: 0.2s;

}
.selected{
    width: 85px;
    height: 5px;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;
    right: 37%;
}
.selected.ok{
    background-color: #7856ff;

}
h2{
    font-size: 15px;
    line-height: 4px;
    color: #f7f9f9;
    font-weight: 500;
}
p{
    font-size: 15px;
    line-height: 4px;
    color:#8b98a5;
}
.head-box{
    text-align: left;
    background-color: #15202B;
    opacity: 80%;
    
}

.name{
    font-size: 20px;
    color: #ffffff !important ;
    line-height: 15px;
    text-decoration: none;

}
.user-name{
    font-size: 13px;
    
}
.user{
    margin: 20px;
}
.user-back-box{
    display: flex;
    align-items: center;
    height: 60px;
}
.back-button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 30px;
    color: #eff3f4;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15202B;
    transition: 0.2s;
    margin-left: 10px;
    cursor: pointer;

}
.back-button:hover{
    background-color: #2d3741;
    transition: 0.2s;
}
@media (max-width:800px) {
    .selected{
    right: 33%;
    }
    
}