.nav-container{
    margin-right: 30px;
    position: fixed;

    }
    @media (max-width:800px) {
        .nav-container{
            margin-right: 5px;
        }
        
    }
.logo{
    color: white;
    margin-top: 20px;
    width: 50px;
    height: 50px ;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius:50%;
    transition: 0.2s;

}
.logo:hover{
    background-color:#162d40;
    transition: 0.2s;


}
.box{
    width: 250px;
    height: 60px;
    opacity: 50%;
    position: absolute;
}
.box:hover .nav-button{
    background-color: #2d3741;
    transition: 0.2s;

}

.nav-button{
    color: white;
    margin-top: 10px;
    height: 50px;
    border-radius: 50px;
    justify-content: left;
    align-items: center;
    display: flex;
    transition: 0.2s;
    cursor: pointer;

}
.nav-button:hover{
    background-color: #2d3741;
    transition: 0.2s;

    
}
.nav-button.notifications{
    width: 200px;
}
.nav-button.home{
    width: 140px;
}
.nav-button.explore{
    width: 150px;
}
.nav-button.search{
    width: 150px;
}
.nav-button.messages{
    width: 170px;
}
.nav-button.bookmarks{
    width: 185px;
}
.nav-button.lists{
    width: 120px;
}
.nav-button.profile{
    width: 130px;
}
.nav-button.more{
    width: 130px;
}
@media (max-width: 1055px) {
    .nav-button.explore{
        display: none;
    }
}
@media (min-width: 1055px) {
    .nav-button.search{
        display: none;
    }
}
.icon{
    margin-left: 15px;
    margin-right: 12px;
    margin-top: 24px;
}
.button-text{
    font-weight: 400;
    font-size: 21px;
    margin-top: 10px;
}
@media (max-width: 1300px) {
    .button-text{
        display: none;
    }    
    .new-tweet-button.large{
        display: none !important; 
    }
    .new-tweet-button.small{
        display: block !important; 
    }
    .nav-button{
        width: 50px !important;
        display: flex;
        justify-content: center;
        align-items: center
        ;
    }
    .icon{
        margin: auto;
    }
    .box{
        width: 60px;
    }

}


.new-tweet-button{
    background-color: #7856FF;
    color: white;
    width: 210px;
    font-weight: 500;
    font-size: 9px;
    height: 45px;
    margin-top: 20px;
    border: solid #7856FF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.new-tweet-button.small{
    position: relative;
    width: 45px;
    display: none;
}
.new-tweet-button:hover{
    background-color: #6c4de6;
    border: solid #6c4de6;

}
.plus{
    position: absolute;
    left: 8px;
    bottom: 17px;
}
.feather{
    position: absolute;
    left: 16px;
    top:13px;
    transform: rotate(-3deg);
}