.user-card{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    transition: 0.2s;

}
.user-card:hover{
    background-color: #1c2732;
    transition: 0.2s;

}
.user-photo{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.2s;

}
.user-photo:hover{
    opacity: 85%;
    transition: 0.2s;

}
.img-and-data{
    display: flex;
    align-items: center;

}
.user-name{
    font-size: 15px;
    line-height: 4px;
    color: #f7f9f9;
}
.user-name:hover{
    text-decoration: underline;

}
.pop-user{
    display:none;
    position:absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    border: solid;
    transition-delay: 2s;
    opacity: 0;
}
.user-name:hover + .pop-user{
    transition-delay: 2s;
    display: block;
    opacity: 1;

}
.pop-user:hover {
    display: block;
}
h2{
    font-size: 15px;
    line-height: 4px;
    color: #f7f9f9;
    font-weight: 500;

}
p{
    font-size: 15px;
    line-height: 4px;
    color:#8b98a5;
}
.data{
    line-height: 1px;
    text-align: left;
    margin-left: 20px;
}
.follow-button{
    width: 80px;
    height: 35px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 700;
    color:#15202b ;
    border: none;
    cursor: pointer;
    transition: 0.2s;

}
.follow-button:hover{
    background-color: #d7dbdc;
    transition: 0.2s;

}
.dots{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    color: #8b98a5;
    margin: 5px;
    margin-right: -10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

}
.dots:hover{
    background-color: #1c3346;
    color: #1d9bf0  ;
    transition: 0.2s;

}
.buttons {
    display: flex;
    align-items: center;
}