.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.users-section{
  position: inherit;
  left: 0%;  
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid;
  border-bottom: none;
  border-width: 1.3px;
  border-color: #38444d;
}
.search-section{

}
.nav-section{
  width: 300px;
}
.list{
  margin-top: 110px;
}
.head{
  position: fixed;
  width: 640px;
  top: 0%;
  backdrop-filter: blur(10px);

}
