.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.users-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid;
  border-bottom: none;
  border-width: 1.3px;
  border-color: #38444d;
}
.head{
  position: fixed;
  width: 640px;
  top: 0%;
  backdrop-filter: blur(10px);

}
