.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.users-section{
  position: inherit;
  left: 0%;  
  right: 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid;
  border-bottom: none;
  border-width: 1.3px;
  border-color: #38444d;
}
.search-section{
  margin-right: 20px;
}
.nav-section{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 30px;
}
@media (max-width: 1170px) {
  .search-section{
    width: auto;
  }
}
@media (max-width: 1055px) {
  .search-section{display: none;}
  .nav-section{   width: auto;
  }
}
.list.follow-section{
  margin-top: 110px;
}
.list.home{
  margin-top: 50px;
}
.head{
  position: fixed;
  width: 640px;
  top: 0%;
  backdrop-filter: blur(10px);
  
}

@media (max-width:800px) {
  .head{
    
    width: 573px;
  }
}
