.App {
  text-align: center;
  display: flex;
  justify-content: center;
}
.users-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:solid;
  border-width: 1.3px;
  border-color: #38444d;
}
