.new-twit{
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    border-bottom: solid 1.5px #38444d;

}
.new-twit-photo{
    margin: 0px 10px 0 10px;
}
.new-twit-input-box{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}
.number-counter{
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 33px;
    top:-3px;
    text-align: center;
}
.number-counter-single{
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    right: -29px;
    bottom: 3px;
    z-index: 10;
}

.new-twit-input{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen';
    width: 89%;
    height: 52px;
    border: none;
    background-color: #15202B;
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    padding-left: 10px;
    resize: none;

}
.new-twit-input:focus{
    outline: none;
}
.privacy-selector{
    height: 37px;
    width: 94%;
    display: flex;
    align-items: center;
    color: var(--global-color);
    border-bottom: solid 1.5px #38444d;
    padding-bottom: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 700;
}
.privacy-selector h4{
    margin-left: 3px;
    cursor: pointer;
}
.attach-selector{
    display: flex;

}
.new-twit-buttons{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;

}
.attach-selector{
    color: var(--global-color) ;
}
.add-tweet{
    width: 75px;
    height: 36px;
    background-color: var(--global-color);
    border-radius: 50px;
    border: none;
    color:aliceblue;
    font-size: 15px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
}
.add-tweet.disabled{
    cursor: none;
    opacity: 0.5;
}
.plus-icon{
    color: var(--global-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-left: 15px;
    border: solid 1px #38444d;
    border-radius: 50%;
    cursor: pointer;
}
.new-tweet-container {
    display: flex;
    align-items: center;
}
.character-counter{
    height: 16px;
    width: 16px;
    border: solid 2px #38444d;
    border-radius: 50%;
}
.character-container{
    border-right: solid 2px #38444d;
    width: 50px;
    height: 34px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: aliceblue;
}
.new-tweet-button.card{
    width: 75px;
    height: 36px;
    font-weight: 500;
    font-size: 15px;
}
.attach-icon{
    margin-left: 15px;
    cursor: pointer;
}
.attach-icon.galery{
    margin-left: 0px;
}